*.exe
*.log
*.o
*.reso
* dll
convcep/tshead.ch
convcep/vcshead.ch
dbu/error.log
dbu/ErrorLog.Htm
dbu/letodb/letodbf.log
dbu/tshead.ch
dbu/vcshead.ch
folhahab/lis/tshead.ch
folhahab/lis/vcshead.ch
mana5/tshead.ch
mana5/vcshead.ch
sefazclass/gerapdf/tshead.ch
sefazclass/gerapdf/vcshead.ch
*.dll
/dbu/dbu32/.hbmk
/dbu/dbu64/.hbmk
/folhahab/obj/.hbmk
folhahab/obj/tshead.ch
folhahab/obj/vcshead.ch
folhahab/pto/adordd.ch
folhahab/pto/tshead.ch
folhahab/pto/vcshead.ch
folhahab/recursos/tshead.ch
folhahab/recursos/vcshead.ch
folhahab/rfe/tshead.ch
folhahab/rfe/vcshead.ch
/folhahab/recursos/.hbmk
